{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
Password Change
{% endblock %}

{% block extra_head %}

{% endblock %}


{% block body %}
.<main>
    <div class="container">
      <h4 class="font-weight-bold">
        Account settings
      </h4>
        <div class="row wow fadeIn">
          <div class="col m-2">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-info" value="Change Password">
            </form>
          </div>
        </div>
    </div>
  </main> 
  
{% endblock %}