{% extends 'base.html' %}
{% load static %}


{% block head_title %}
{{ post.title }}
{% endblock %}

{% block body %}

    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <div class="post-single">
              <div class="post-detail-thumbnail"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category">
                    {% for cat in post.category.all %}
                      <a href="">{{ cat }}</a>
                    {% endfor %}
                  </div>
                  <div class="crud f-right">
                    {% if post.author.user == request.user %}
                    <a href="{{ post.get_update_url }}">Update</a>   
                    <a href="{{ post.get_delete_url }}">Delete</a>
                    {% endif %}
                  </div>
                </div>
                <h1>{{ post.title }}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{ post.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ post.author }}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock"></i> {{ post.date_created | timesince }}</div>
                    <div class="views"><i class="icon-eye"></i> {{ post.view_count }}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comment_count }}</div>
                  </div>
                </div>
                <div class="post-body">
                  <p>{{ post.description|safe }}</p>
                </div>
                <div class="post-tags">
                    {% for tag in post.tags.all %}
                    <a href="#" class="tag">#{{ tag }}</a>
                    {% endfor %}
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row"><a href="#" class="prev-post text-left d-flex align-items-center">
                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                    <div class="text"><strong class="text-primary">Previous Post </strong>
                      <h6>I Bought a Wedding Dress.</h6>
                    </div></a><a href="#" class="next-post text-right d-flex align-items-center justify-content-end">
                    <div class="text"><strong class="text-primary">Next Post </strong>
                      <h6>I Bought a Wedding Dress.</h6>
                    </div>
                    <div class="icon next"><i class="fa fa-angle-right">   </i></div></a></div>
                <div class="post-comments">
                  <header>
                    <h3 class="h6">Post Comments<span class="no-of-comments">({{ post.comment_count }})</span></h3>
                  </header>
                  <!-- Showing comments -->
                  {% for comment in post.get_comments %}
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">
                        <div class="image">
                        {% if comment.user.author %}
                        <img src="{{ comment.user.author.profile_picture.url }}" alt="..." class="img-fluid rounded-circle">
                        {% else %}
                        <img src="{% static 'img/user.svg' %}" alt="..." class="img-fluid rounded-circle">
                        {% endif %}
                      </div>
                        <div class="title"><strong>{{ comment.user }}</strong><span class="date">{{ comment.date_created | timesince }}</span></div>
                      </div>
                    </div>
                    <div class="comment-body">
                      <p>{{ comment.content }}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
                <div class="add-comment">
                  <header>
                    <h3 class="h6">Leave a reply</h3>
                  </header>
                  {% if request.user.is_authenticated %}
                  <form action="" method="post" class="commenting-form">
                    {% csrf_token %}
                    <div class="row">
                      <div class="form-group col-md-12">
                        {{ form.content }}
                      </div>
                      <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary">Submit Comment</button>
                      </div>
                    </div>
                  </form>
                  {% else %}
                  <form action="" method="post" class="commenting-form">
                    <div class="row">
                      <div class="form-group col-md-12">
                      </div>
                      <div class="form-group col-md-12">
                        <a href="{% url 'home' %}" class="btn btn-danger color-white">Login to comment</a>
                      </div>
                    </div>
                  </form>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </main>
        {% include 'sidebar.html' %}
      </div>
    </div>
  
  {% endblock %}